[Unit]
Description=Service to autorun gunicorn instance
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/deployments/AirBnB_clone_v4

ExecStart = /usr/bin/env gunicorn web_dynamic.2-hbnb:app --bind=0.0.0.0:5003 --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log

[Install]
WantedBy=multi-user.target
